body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

H* {
    font-family: "Raleway", sans-serif;
    color: white;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*  Navbar  */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.dropdown-item {
    margin: 0;
}

.navbar .navbar-brand {
    font-family: "Kaushan Script", sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.navbar .navbar-nav a {
    font-size: 20px;
    font-weight: 500;
    margin-right: 50px;
    letter-spacing: 1.5px;
}

/*  footer  */
footer {
    background-color:  #404040;
    padding-top: 15px;
}

 footer a {
    color: Black;
    font-size: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    padding: 7px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
 }

footer a:hover {
    color: white;
    background-color: black;
}

footer .copyright-text {
    margin-top: 30px;
}


/* Jumbotron/callout  */
 
.jumbotron-background {
    height: 80vh;

    background: url('../images/pexels-mylo-kaye-6585361.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
    border-top: 0;
}

.jumbotron {
    background-color: transparent;
    margin-left: 50px;
    margin-top: 100px;
}

.jumbotron .lead {
    width: 60%;
    height: auto;
    padding: 15px;

    font-size: 18px;

    background-color: rgba(0, 0, 0, .5);
}
