/*  colors  */
body {
    background-color: #2b4162;
    background-image: linear-gradient(45deg, #2b4162 0%, #12100eda 74%);
    color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fafafa;
}

.navbar {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 65%);
}


footer {
    background-color: #12100eda;
}

hr {
    background-color: #2b4162;
}

.blue-btn {
    background-color: #05c1fb;
    color: #1f1f1f;
}

.blue-btn:hover {
    background-color: #047ea3;
    color: #fafafa;
}

.social-links a {
    color: #1f1f1f;
    background-color: #fafafa;
}

.social-links a:hover {
    color: #fafafa;
    background-color: #05c1fb;
}

.jumbotron h1 {
    color: #fafafa;
}

.jumbotron hr {
    background-color: #fafafa;
}

.scroll-icon {
    color: rgba(178, 178, 178, 0.8)
}

.scroll-icon :hover {
    color: #05c1fb;
}

.card {
    background-color: rgba(0, 0, 0, 0.25);
}

.card p {
    color: #94a1b2;
}

.latest-card p {
    color: #fafafa;
}

.gallery-container hr {
    background-color: #fafafa
}

.about-container hr {
    background-color: #fafafa
}

.enquire-container hr {
    background-color: #fafafa;
}

.enquire-container i {
    color: #05c1fb;
}


/*  General Rules  */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Spartan", sans-serif;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

hr {
    height: 6px;
    width: 90%;
    margin-top: 30px;
    border-radius: 12px;
}

.no-padding {
    padding: 0 !important;
}

.social-links a {
    font-size: 25px;
    margin-right: 15px;
    height: 50px;
    width: 50px;
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}


.blue-btn {
    border-radius: 9px;
}

/*  Navbar  */

.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.dropdown-item {
    margin: 0;
}

.navbar .navbar-brand {
    font-family: "Spartan", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.navbar .navbar-nav a {
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
    letter-spacing: 1.5px;
}

/*  footer  */

footer {
    padding-top: 15px;
    margin-top: 15px;
}

/*  jumbotron  */

.index-jumbotron-background {
    height: 100vh;
    background: url('../images/index/Jumbotron-Background.jpg') no-repeat bottom right fixed;
}

.latest-jumbotron-background {
    height: 70vh;
    background: url('../images/latest/latest-Jumbotron-background.jpg') no-repeat bottom right fixed;
}

.jumbotron-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center;

    position: relative;
}

.jumbotron {
    margin-top: 100px;
    background-color: transparent;
}

.jumbotron h1 {
    font-size: 40px;
}

.jumbotron hr {
    height: 2px;
    width: 100%;
    margin-bottom: 30px;
}

.jumbotron .lead {
    width: 60%;
    margin-top: 30px;
    padding: 15px;
}

.scroll-icon-container {
    margin-top: 100px;

}

.scroll-icon {
    font-size: 50px;
}

/*  Cards  */

.card-container {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    border-radius: 9px;
}

.index-card {
    margin-bottom: 30px;
    padding: 20px;
}

.index-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;

    border-radius: 5px;
}

.latest-card-small,
.latest-card-large {
    background-color: transparent;
    padding: 10px;
    border: none;
}

.latest-card .card-img-overlay,
.latest-card .card-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 9px;
}

.latest-card-small .card-img-overlay,
.latest-card-small .card-img {
    height: 600px;
}

.latest-card-large .card-img-overlay,
.latest-card-large .card-img {
    height: 700px;
}

.card-text-bg {
    display: block;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 9px;
    padding: 9px;
}


.card-text-bg summary:hover {
    color: #05c1fb;
}

/*  Gallery  */

.gallery-container {
    padding-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

.gallery-container h2 {
    font-size: 40px;
}

.gallery-container hr {
    margin-top: 0;
    margin-bottom: 40px;
    width: 100%;
    height: 2px;
}

.gallery-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 19px;
    padding: 10px;
}

/*  About  */

.about-container {
    padding-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

.about-container hr {
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    height: 2px;
}

.about-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}

/*  Enquire  */

.enquire-container {
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

.enquire-container hr {
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    height: 2px;
}

.enquire-container form {
    background-color: rgba(0, 0, 0, .25);
    padding: 20px;
    border-radius: 9px;
}

.enquire-container label {
    margin-top: 20px;
}

.enquire-container i {
    font-size: 20px;
}


/*  Transitions  */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hvr-sink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}

.hvr-grow-img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow-img:hover,
.hvr-grow-img:focus,
.hvr-grow-img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    position: relative;
    z-index: 1;
}

/* media queries */

@media screen and (max-width: 600px) {
    .navbar .navbar-brand {
        font-size: 20px;
    }

    .jumbotron .lead {
        width: 100%;
        font-size: 16px;
    }

    .jumbotron {
        margin-top: 100px;
    }

    .jumbotron h1 {
        font-size: 30px;
    }

    .jumbotron h3 {
        font-size: 20px;
    }

    .index-card img {
        height: 300px;
    }

    .latest-card h3 {
        font-size: 20px;
    }

    .latest-card-small {
        margin-top: 30px;
    }

    .latest-card-large .card-img-overlay,
    .latest-card-large .card-img {
        height: 600px;
    }

    .gallery-container h2 {
        font-size: 30px;
    }

    .about-container h1 {
        font-size: 30px;
    }

    .enquire-container h1 {
        font-size: 30px;
    }

    .hvr-grow-img:hover,
    .hvr-grow-img:focus,
    .hvr-grow-img:active {
       
    }
}

@media screen and (max-width: 768px) {
    .latest-card-small {
        margin-top: 30px;
    }

    .gallery-container img {
        height: 300px;
    }
}